{
    "SECRET_KEY": "fakekey",
    "CAM_HOST": "fakehost.local",
    "CAM_USER": "fakeuser",
    "CAM_PASS": "fakepass",
    "AUTH": {
        "adminuser": "scrypt:ds8:1$y8y8lfake",
        "streamuser": "scrypt:32768:8:1$nffakefake"
    }
}