<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Stream Request Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .required:after {
            content: " *";
            color: red;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h2>Schedule A New Stream</h2>
        <form action="./submit" method="POST">
            <div class="mb-3">
                <label for="text-input" class="form-label"><b>Team:</b> (example: Majors Cubs)</label>
                <input type="text" class="form-control" id="text-input" name="teamName" required>
            </div>
            <div class="mb-3">
                <label for="date-input" class="form-label"><b>Date:</b></label>
                <input type="date" class="form-control" id="date-input" name="date" required>
            </div>
            <div class="mb-3">
                <label for="startTime" class="form-label"><b>Start Time:</b> (example: 05:50 PM)</label>
                <input type="time" class="form-control" id="startTime" name="startTime" required>
            </div>
            <div class="mb-3">
                <label for="endTime" class="form-label"><b>End Time:</b> (sets to 2h 15m after Start, adjust if needed)</label>
                <input type="time" class="form-control" id="endTime" name="endTime" required>
            </div>
            <p> </p>
            <div class="mb-3">
                <label for="text-input" class="form-label">
                    <img class="bg-black rounded" width="60%"
                        src="https://assets-global.website-files.com/60abbc75a1386aee71517203/61b8f942b53d396ccb93984e_Rebrand-app-icon.svg"></img><br>
                    <b>Stream Key:</b> (usually starts with sk_us-east-1_...)</label>
                <input type="text" class="form-control" id="text-input" name="streamKey" required>
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle-fill"
                    style="color: white; font-size: 1rem;"></i>Submit This Stream
            </button>
        </form>
    </div>

    <p></p>
    <div class="d-flex justify-content-center">
        <a href="https://teammanager.zendesk.com/hc/en-us/articles/360060555011-Live-Streaming-From-An-External-Camera">
            How
            to Get Your Stream Key</a>
    </div>


    <!-- Auto set endtime-->
    <script>
        document.getElementById('startTime').addEventListener('input', function (e) {
            var startTime = e.target.value;
            var endTimeInput = document.getElementById('endTime');
    
            if (startTime) {
                var startTimeDate = new Date();  // ok to use any date here
                startTimeDate.setHours(startTime.split(':')[0], startTime.split(':')[1]);
    
                startTimeDate.setHours(startTimeDate.getHours() + 2); // Set end time to two hours after start time
                startTimeDate.setMinutes(startTimeDate.getMinutes() + 15);

    
                var hours = startTimeDate.getHours();
                var minutes = startTimeDate.getMinutes();
    
                // Format the hours and minutes to ensure they are always two digits
                hours = hours < 10 ? '0' + hours : hours;
                minutes = minutes < 10 ? '0' + minutes : minutes;
    
                endTimeInput.value = hours + ':' + minutes;
            } else {
                endTimeInput.value = ''; // Clear the end time if no start time is selected
            }
        });
    </script>    



    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>